node_modules
# Keep environment variables out of version control
.env

# Prisma
/generated/prisma

# TypeScript
/dist
*.tsbuildinfo

# Base de datos
*.db
*.sqlite
*.sqlite3
dev.db

# Backups
*.backup
data.backup/

# Logs
*.log
logs/
